<?xml version="1.0"?>
<route id="index" pattern="" controller="app/index" method="test">
	
	<route id="admin" pattern="admin/{lang1}/{lang2}" controller="app/admin" method="index">
	
		<match name="lang1">en</match>
		
		<match name="lang2">de</match>
			
		<route id="admin-login" pattern="{action}/">
			
			<match name="action">action</match>
			
		</route>
		
		<match name="lang">en|es</match>
				
		<route id="admin-login1" pattern="logout/" method="logout">
			
			<route id="admin-login2" pattern="test" />
			
			<match name="lang">pattern2</match>	
			
		</route>	
		
		<route id="admin-login3" pattern="login/last" />
		
	</route>
	
	<route id="trumps" pattern="user/{lang}/" controller="app/admin" method="index" />
	
	<route id="trumps2" pattern="user/" controller="app/admin" method="index" />	
		
</route>
