<?xml version="1.0"?>
<route id="index" pattern="/" controller="app/index" method="">
	
	<route id="admin" pattern="admin/" controller="app/admin" method="index">
			
		<route id="admin-login" pattern="login/" method="login"></route>
		
		<route id="admin-logout" pattern="logout/" method="logout"></route>	
		
	</route>
	
</route>
